{{ block "index" . }}
<!<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    {{ template "form" .Form }}
    <hr />
    {{ template "display" .Data}}
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener('htmx:beforeSwap', function(evt) {
          if (evt.detail.xhr.status === 422) {
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
          }
        });
      })
    </script>
  </body>
</html>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
  name: <input
    {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
    type="text" name="name" />
  email: <input
    {{ if .Values.email }} value="{{ .Values.email }}" {{ end }}
    type="text" name="email" />
  {{ if .Errors.email }}
    <div style="color: red">{{ .Errors.email }}</div>
  {{ end }}
  <button type="submit">Create Contact</button>
</form>
{{ end }}

{{ block "display" . }}
    <div id="contacts" style="display: flex; flex-direction: column">
    {{ range .Contacts }}
      {{ template "contact" . }}
    {{ end }}
    </div>
{{ end }}

{{ block "contact" . }}
<div id="contact-{{ .Id }}" style="display: flex">
  <div hx-target="#contact-{{ .Id }}" hx-swap="outerHTML" hx-delete="/contacts/{{ .Id }}" style="width: 1rem; cursor: pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 40 40"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        >
        <line x1="18" y1="6" x2="6" y2="18" />
        <line x1="6" y1="6" x2="18" y2="18" />
      </svg>
    </div>
    Name: <span>{{ .Name }}</span>
    Email: <span>{{ .Email }}</span>
  </div>
{{ end }}

{{ block "oob-contact" . }}
  <div id="contacts" hx-swap-oob="afterbegin">
      {{ template "contact" . }}
  </div>
{{ end }}
